{{!-- * Setup the `main.handlebars` file so it's able to be used by Handlebars. --}}
<!DOCTYPE html>
<html>

<head>
    <!-- Tab Title -->
    <title>Eat-Da-Burger!</title>
    <!-- Tab Image -->
    <link rel="icon" href="/assets/img/burger.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>

    <!-- Burger Content from index.handlebars -->
    {{{body}}}

    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/burgers.js"></script>

</body>

</html>